
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
}

header {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: url("oceantop.png");
    background-repeat: no-repeat;
    background-color: #00aaff;
    background-size: contain;
}

header h1 {
    color: #50ffaa;
    font-size: 5.4rem;
    font-family: 'Fredoka One', 'Varela Round', cursive;
    margin-bottom: 2rem;
}

header .brand {
    color: #ffffff;
    font-size: 1.5rem;
    padding-bottom: 3rem;
}

#unsdg {
    padding: 2rem;
    display: flex;
    justify-content: center;
    background-color: #306884;
    color: #ffffff;
    align-items: center;
}

#unsdg img {
     width: 360px;
     max-width: 80%;
}

#unsdg a {
    color: #9ff792;
}

#unsdg img {
    border-radius: 3px;
}

#unsdg div {
    font-size: 1.4rem;
    width: 50%;
    padding: 0 3rem;
}

#recipes {
    padding: 4rem;
}

@media(max-width: 800px) {
    #unsdg {
        flex-direction: column;
    }

    #unsdg div {
        width: auto;
        padding: 0;
        font-size: 1.1rem;
    }

    header h1 {
        font-size: 3rem;
    }

    header .brand {
        font-size: 1rem;
    }

    header {
        margin-top: 100px;
        min-height: calc(100vh - 100px);
    }
}
